{
  "space": {
    "textileHubTarget": "textile-hub-dev.fleek.co:3006",
    "textileThreadsTarget": "textile-hub-dev.fleek.co:3006",
    "rpcPort": 9999,
    "storePath": "~/.fleek-space",
    "mountFuseDrive": "false",
    "fuseMountPath": "~/",
    "servicesApiUrl": "https://td4uiovozc.execute-api.us-west-2.amazonaws.com/dev"
  }
}